set timeout=5
set default=0

menuentry "PhyreOS with APT" {
    linux /boot/vmlinuz quiet
    initrd /boot/initrd.img
    echo "PhyreOS Version: $KERNEL_VERSION"
    echo "Linux Kernel Version: $KERNEL_VERSION"
    echo "BusyBox Version: $BUSYBOX_VERSION"
    echo "Package Manager: APT"
    echo "Repository: $REPO_NAME ($REPO_URL)"
}
